---
---

@import "{{ site.theme }}";

body {
    color: black;
    font-family: Georgia, serif;
}

#stickyMenu.show {
    display: block; /* Make the menu visible */
}

/* Sticky Menu Styles */
#stickyMenu h3 {
    margin-top: 0;
    font-size: 18px;
}

#stickyMenu b {
    font-weight: bold;
}

